html body {
    margin: 0px;
    color: hsl(0, 0%, 13%);
    font-family: 'Segoe UI';

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.left {
    margin-left: 24px;
}

.left img {
    height: 40px;
    vertical-align: middle;
}

.left span {
    font-size: 20px;
    padding: 0px;
    color:#505050;
}

.right {
    margin-right: 16px;
}

.right a {
    text-decoration: none;
    color: #202020;
    margin-right: 8px;
    margin-left: 0px;
    font-size: 18px;
}

.banner {
    background-color:lightgray;
    display: flex;
    align-items: center;
}

.banner img {
    width: 60%;
    height: auto;
    margin: 32px 40px 32px 24px;
    vertical-align: middle;
}

.banner h3 {
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 8px 0px;
    margin-top: 50px;
}

.banner a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.banner h1 {
    font-size: 45px;
    font-weight: 700;
}

.banner h2 {
    font-size: 25px;
    font-weight: 400;
}

.container {
    display: flex;
    align-items: center;
}

.information-main {
    width: 60%;
    margin-left: 24px;
    margin-bottom: 32px;
}

.information-main img {
    width: 95%;
    margin: 32px 0px 32px 0px;
}

.information-main h1 {
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.information-main h2 {
    margin-top: 0px;
    
}

.information-main span {
    color: black;
    margin-bottom: 32px;
}

.news {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 16px 32px 16px 16px;
}

.orientation, .lecture, .campus {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    margin: 1px;
}

.img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.text a {
    text-decoration: none;
    color: #0CACD1;
}

.lecture {
    background-color: #DCDCDC;
}

.text h2, .text p, .text a {
    margin: 8px;
}

